<!DOCTYPE html>
<!-- Naomi, Kishi, ?
Hungry
Oct 8 2024 -->

<html>

  <head>
    <title> Login </title>
  </head>

  <body>
    Team Hungry<br>
    Naomi, Kishi, ... <br>
  
    <br>submit with GET
    <form action="/auth" method="GET">
      <input type="text" name="username">
      <input type="submit" name="sub1">
    </form>

    <br> submit with POST
    <form action="/auth" method="POST">
      <input type="text" name="username">
      <input type="submit" name="sub1">
    </form>

  </body>

</html>
