<!DOCTYPE html>
<!-- Naomi, Kishi, ?
Hungry
Oct 8 2024 -->

<html>
  <head>
    <title> Response </title>
    Team Hungry<br>
    Naomi, Kishi, ... <br><br>
  </head>

  <body>
    Hello {{info}}! Your information was obtained using {{ method }}.<br><br>
    When obtaining through GET, your information is less secure and is visible through the URL.<br><br>
    On the other hand, when obtaining through POST, your information is still not secure but is not visibile through the URL.
    The information is not saved between sessions; for example, if you refresh the page, you may need to complete the form again.
    <br>
  </body>

</html>
